* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.min-vh-100 {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

nav {
    background-color: yellow;
}

.main {
    background-color: orange;
    flex-grow: 1;
}